

<div class="commentsPage">
  <h3>What do you think about this line?</h3>


	"<%= @line.text %>"<br><br>
	-- <%= "#{@line.movie.title}" %><br><br>

<form action="/comment_on_line" method="post">
	<input type="hidden" name="line_id" value="<%= @line.id %>">
	<textarea name="user_comment" placeholder="Add your comment!"></textarea><br><br>
	<input type="submit" value="SUBMIT" class="button"><br><br>
</form>

<h3> Want to vote on a comment, go ahead and click on it </h3>

<ul>
<% @line.comments.each do |comment| %>
  <a href="/comments/<%= comment.id %>"><li class="comment_text"><%= comment.text %></li></a><br><br>
<% end %>
</div>