  
  <div class="welcome">
  	<img src="images/projector.png" id="projector" id="projector"> 
    <h1>Welcome to Movie Genius!</h1>
  </div>

 		
		<h3><u>Top Movies:</u></h3>
		<div class="topMovies">
		<% @movies.each do |movie|%>
		
		
			<a href="/movies/<%= movie.id%>"><%= movie.title %><br/></a>
    
		<% end %>  
	</div>

		<h3><u>Top Comments:</u></h3>
		

		<table>
			<tr>
				<th><u>Comment Text</u></th>
				<th><u>Movie Title</u></th>
				<th><u>Vote Count</u></th>
			</tr>
			<% @top_comments.each do |comment|%>
				<tr>
					<td class="commentText"><%= comment.text %></td>
					<td><a href="/movies/<%= comment.line.movie.id%>"><%= comment.line.movie.title %></a></td>
					
					<td class="voteCount"><%= comment.vote_count%></td>
				</tr>
			<% end %>  

		</table>

