<div class="container">

  <h1>Welcome to Movie Genius!</h1>
 		
		<h3>Top Movies:</h3>
		<% @movies.each do |movie|%>
			
			<h3><a href="/movies/<%= movie.id%>"><%= movie.title %></a></h3>

		<% end %>  

		<h3>Top Comments:</h3>
		

		<table>
			<tr>
				<th>Comment Text</th>
				<th>Movie Title</th>
				<th>Vote Count</th>
			</tr>
			<% @top_comments.each do |comment|%>
				<tr>
					<td><%= comment.text %></td>
					<td><a href="/movies/<%= comment.line.movie.id%>"><%= comment.line.movie.title %></a></td>
					
					<td><%= comment.vote_count%></td>
				</tr>
			<% end %>  

		</table>

</div>
