
<div class="specificComment">
<br>
Comment for: <a href= "/movies/<%= @movie.id %>"><%= @movie.title %></a> <br><br>
"<%= @comment.text.capitalize %>" <br><br>
<<<<<<< HEAD
<a href="/votes/<%= @comment.id %>"><input id="submit" type="submit" value="Vote up!"></a> 
Total Vote Count: <%= @comment.vote_count %> <br>
=======

<form action="/votes/<%= @comment.id %>" method="POST">
 <input type="submit" value="Vote up!">
Total Vote Count: <span><%= @comment.vote_count %></span>
</form> 

>>>>>>> 2b224d72f9c91c3265e87a262c1933c12131e28e
</div>